In [7]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [8]:
df = pd.read_excel("ML Data/example.xlsx")
df

    Shape   Class Size
0  square   third    S
1  square   first    S
2    oval  second    L
3  circle   third   XL

In [9]:
ohe = OneHotEncoder(sparse=False)
dummies = pd.DataFrame(ohe.fit_transform(df[["Shape"]]))
dummies

     0    1    2
0  0.0  0.0  1.0
1  0.0  0.0  1.0
2  0.0  1.0  0.0
3  1.0  0.0  0.0