In [2]:
import pandas as pd

In [3]:
df = pd.read_excel("ML Data/Color.xlsx")
df

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

In [ ]:
# Pandas

pd.get_dummies(df.Color)
pd.get_dummies(df["Color"])

   Black  Blue  Green  Red  White  Yellow
0      0     0      0    1      0       0
1      0     0      1    0      0       0
2      0     1      0    0      0       0
3      1     0      0    0      0       0
4      0     0      0    0      1       0
5      0     0      0    0      0       1

In [ ]:
df = pd.read_excel("ML Data/Color2.xlsx")
df

     Color
0      Red
1    Green
2     Blue
3    Black
4    White
5   Yellow
6      Red
7   Yellow
8    Black
9    Green
10   White
11     Red
12    Blue
13     Red
14    Blue
15   Green
16   Black
17   Black
18   White

In [ ]:
pd.get_dummies(df.Color)

    Black  Blue  Green  Red  White  Yellow
0       0     0      0    1      0       0
1       0     0      1    0      0       0
2       0     1      0    0      0       0
3       1     0      0    0      0       0
4       0     0      0    0      1       0
5       0     0      0    0      0       1
6       0     0      0    1      0       0
7       0     0      0    0      0       1
8       1     0      0    0      0       0
9       0     0      1    0      0       0
10      0     0      0    0      1       0
11      0     0      0    1      0       0
12      0     1      0    0      0       0
13      0     0      0    1      0       0
14      0     1      0    0      0       0
15      0     0      1    0      0       0
16      1     0      0    0      0       0
17      1     0      0    0      0       0
18      0     0      0    0      1       0

In [ ]:
dummies = pd.get_dummies(df.Color)
dummies

    Black  Blue  Green  Red  White  Yellow
0       0     0      0    1      0       0
1       0     0      1    0      0       0
2       0     1      0    0      0       0
3       1     0      0    0      0       0
4       0     0      0    0      1       0
5       0     0      0    0      0       1
6       0     0      0    1      0       0
7       0     0      0    0      0       1
8       1     0      0    0      0       0
9       0     0      1    0      0       0
10      0     0      0    0      1       0
11      0     0      0    1      0       0
12      0     1      0    0      0       0
13      0     0      0    1      0       0
14      0     1      0    0      0       0
15      0     0      1    0      0       0
16      1     0      0    0      0       0
17      1     0      0    0      0       0
18      0     0      0    0      1       0

In [ ]:
df = pd.concat([df, dummies], axis="columns")
df

     Color  Black  Blue  Green  Red  White  Yellow
0      Red      0     0      0    1      0       0
1    Green      0     0      1    0      0       0
2     Blue      0     1      0    0      0       0
3    Black      1     0      0    0      0       0
4    White      0     0      0    0      1       0
5   Yellow      0     0      0    0      0       1
6      Red      0     0      0    1      0       0
7   Yellow      0     0      0    0      0       1
8    Black      1     0      0    0      0       0
9    Green      0     0      1    0      0       0
10   White      0     0      0    0      1       0
11     Red      0     0      0    1      0       0
12    Blue      0     1      0    0      0       0
13     Red      0     0      0    1      0       0
14    Blue      0     1      0    0      0       0
15   Green      0     0      1    0      0       0
16   Black      1     0      0    0      0       0
17   Black      1     0      0    0      0       0
18   White      0     0      0    0      1       0