In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("ML Data/example.xlsx")
df

    Shape   Class Size
0  square   third    S
1  square   first    S
2    oval  second    L
3  circle   third   XL

In [3]:
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

In [4]:
oe = OrdinalEncoder(categories=[["first", "second", "third"], ["S", "M", "L", "XL"]])
pd.DataFrame(oe.fit_transform(df[["Class", "Size"]]))

     0    1
0  2.0  0.0
1  0.0  0.0
2  1.0  2.0
3  2.0  3.0

In [5]:
ohe = OneHotEncoder(sparse=False)
one_hot_var = pd.DataFrame(ohe.fit_transform(df[["Shape"]]))
one_hot_var

     0    1    2
0  0.0  0.0  1.0
1  0.0  0.0  1.0
2  0.0  1.0  0.0
3  1.0  0.0  0.0

In [6]:
order_var = pd.DataFrame(oe.fit_transform(df[["Class", "Size"]]))
order_var

     0    1
0  2.0  0.0
1  0.0  0.0
2  1.0  2.0
3  2.0  3.0

In [7]:
df = pd.concat([one_hot_var, order_var], axis="columns")
df

     0    1    2    0    1
0  0.0  0.0  1.0  2.0  0.0
1  0.0  0.0  1.0  0.0  0.0
2  0.0  1.0  0.0  1.0  2.0
3  1.0  0.0  0.0  2.0  3.0

In [8]:
df.columns = ["Shape_circle", "Shape_oval", "Shape_square", "Class", "Size"]
df

   Shape_circle  Shape_oval  Shape_square  Class  Size
0           0.0         0.0           1.0    2.0   0.0
1           0.0         0.0           1.0    0.0   0.0
2           0.0         1.0           0.0    1.0   2.0
3           1.0         0.0           0.0    2.0   3.0