# Encode Techniques

In [2]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder

In [3]:
df = pd.read_excel("ordinal_I.xlsx")
df

   Size
0  XXXS
1   XXS
2    XS
3     S
4     M
5     L
6    XL
7   XXL
8  XXXL

In [9]:
oe = OrdinalEncoder(categories=[["XXXS", "XXS", "XS", "S", "M", "L", "XL", "XXL", "XXXL"]])
df_oe = pd.DataFrame(oe.fit_transform(df[["Size"]]))
df_oe

     0
0  0.0
1  1.0
2  2.0
3  3.0
4  4.0
5  5.0
6  6.0
7  7.0
8  8.0

In [11]:
df_oe.columns = ["Size"]
df_oe

   Size
0   0.0
1   1.0
2   2.0
3   3.0
4   4.0
5   5.0
6   6.0
7   7.0
8   8.0