# Encode Techniques

In [9]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [10]:
df = pd.read_excel("one_hot_encoding.xlsx")
df

   Color
0  Black
1  White
2    Red
3  Green
4   Blue

In [11]:
ohe = OneHotEncoder(sparse=False)
df_ohe = pd.DataFrame(ohe.fit_transform(df[["Color"]]))
df_ohe

     0    1    2    3    4
0  1.0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0  1.0
2  0.0  0.0  0.0  1.0  0.0
3  0.0  0.0  1.0  0.0  0.0
4  0.0  1.0  0.0  0.0  0.0

In [18]:
df_ohe.columns = sorted(["Black", "White", "Red", "Green", "Blue"])
df_ohe

   Black  Blue  Green  Red  White
0    1.0   0.0    0.0  0.0    0.0
1    0.0   0.0    0.0  0.0    1.0
2    0.0   0.0    0.0  1.0    0.0
3    0.0   0.0    1.0  0.0    0.0
4    0.0   1.0    0.0  0.0    0.0